* {
    background-color: aqua;
    margin: 0em;
    padding: 0.4em;
    margin-left: 2px;
}

section * {
    background-color: rgb(178, 241, 246);
    margin: 0em;
}

section {
    margin: 1.2em;
    border: 3px solid #0c53a5;
    padding: 0em;
    margin-left: 20px;
}