* {
    background-color: aqua;
    margin: 0px;
    padding: 0.1em;
    margin-left: 0px;
}

section * {
    background-color: rgb(178, 241, 246);
    margin: 0em;
}

section {
    margin: 40px;
    width: 97.8%;
    border: 3px solid #0c53a5;
    padding: 0.9em;
    margin-left: 0px;
}

header {
    background-color: black;
    margin: 0em;
}

nav {
    background-color: blueviolet;
    margin: 0em;
}

.nestor {
    margin-left: 400px;
}

aside {
    background-color: #ecebbe;
    margin: 0em;
}

footer {
    background-color: #778537;
    margin: 0em;
}