* {
    background-color: #252525;
    color: aliceblue;
    /*background-image: url(../img/nino.png);*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.social {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.social a {
    margin: 9px;
}