* {
    background-color: aqua;
    margin: 0 4em;
    padding: 0.1em;
    /*overflow-y: hidden; oculta la barra de desplazamiento*/
}

section * {
    background-color: rgb(178, 241, 246);
    margin: 0;
    align-content: center;
}

section {
    margin: 3%;
    border: .2em solid #0c53a5;
    /*padding: 0.9em;*/
}

ol {
    margin-left: 2%;
}

ul {
    margin-left: 2%;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    margin: 0em;
}

nav {
    background-color: blueviolet;
    margin: 0em;
}

.ninoimg {
    width: 60%;
    margin: 0 18%;
}

aside {
    background-color: #ecebbe;
    margin: 0em;
}

footer {
    background-color: #778537;
    margin: 0em;
}