* {
    background-color: #00ffff;
    margin: 0 4em;
    padding: 0.1em;
    /*overflow-y: hidden; oculta la barra de desplazamiento*/
}

section * {
    background-color: #b2f1f6;
    margin: 0;
    align-content: center;
}

section {
    margin: 3%;
    border: .2em solid #18549a;
    border-radius: 2em;
    border: 1em groove #093a71;
    box-shadow: 1em 1em 1em #000;
    /*padding: 0.9em;*/
}

ol {
    margin-left: 2%;
}

ul {
    margin-left: 2%;
}

a {
    text-decoration: none;
}

header {
    background-color: #000;
    margin: 0em;
    border-radius: 2em;
    border: .5em groove #736868;
    box-shadow: 1em 1em 1em #000;
}

nav {
    background-color: #8a2be2;
    margin: 0em;
    border-radius: 2em;
    border: .5em groove #093a71;
}

.ninoimg {
    width: 60%;
    border-radius: 2em;
    /*margin: 0 18%;*/
}

aside {
    background-color: #ecebbe;
    margin: 0em;
    border-radius: 2em;
    box-shadow: 1em 1em 1em #000;
}

footer {
    background-color: #778537;
    margin: 0em;
    border-radius: 2em;
    box-shadow: 1em 1em 1em #000;
}